<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dislocation Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/serve.css" />
  </head>
  <body>
    <h1>Dislocation Detection</h1>

    <div id="image-container">
      <img src="" id="photo" />
    </div>
    <div class="process-button-container">
      <!-- <div class="fileSelection">
        <label for="iptUploadPhoto">
          <span>Select a .jpg file</span>
          <input
            type="file"
            id="iptUploadPhoto"
            accept="image/*"
            style="display: none"
          />
        </label>
        <input type="text" id="txtUploadPhoto" readonly />
      </div> -->

      <input type="file" id="iptUploadPhoto" accept="image/*" display="none" />
      <div>
        <button class="process-button" id="btnUploadPhoto">
          Upload the choosen photo
        </button>
        <input type="checkbox" id="chbUploadPhotoForTraining">
        <label for="chbUploadPhotoForTraining">Allow to use the uploaded photo to improve model training </label>
      </div>
      <button class="process-button" id="btnPredict">Predict (Roboflow)</button>
    </div>
    
    <div class="calculations">
    <label for="txtSumBhi">Calculated sum of all relative bounding box heights &#8721<i>b</i><sub>hi</sub> : </label>
    <input type="number" id="txtSumBhi" value="5.0" diasbled />
    <label for="txtDisloDensity">Calculated dislocation density &#961 = &#8721<i>b</i><sub>hi</sub> * <i>H</i><sub>image</sub>/(<i>A</i><sub>f</sub>*<i>t</i>) (cm<sup>-2</sup>) : </label>
    <input type="number" id="txtDisloDensity" value="1e+10" diasbled />
    <label for="txtFilmArea">Insert the film area <i>A</i><sub>f</sub> (nm<sup>2</sup>) : </label>
    <input type="number" id="txtFilmArea" value="1e5"/>
    <label for="txtTEMSpecimenThickness">Insert the thickness of the TEM specimen<i>t</i> (nm) : </label>
    <input type="number" id="txtTEMSpecimenThickness" value="100" diasbled />
    <label for="txtImageHeight">Insert the height of the whole image <i>H</i><sub>image</sub> (nm): </label>
    <input type="number" id="txtImageHeight" value="500" diasbled />
  </div>
    <div class="inputSlider">
      <label for="iptConfidence" style="justify-self: left;">Confidence</label>
      <input
        type="number"
        id="iptConfidence"
        min="0"
        max="1"
        step="0.01"
        value="0.268"
      />
      <label for="sldConfidence" >0</label>
      <input
        type="range"
        min="0"
        max="1"
        step="0.001"
        value="0.268"
        id="sldConfidence"
      />
      <label for="sldConfidence">1</label>
    </div>

    <div class="inputSlider">
      <label for="iptOverlap" style="justify-self: left;">Overlap</label>
      <input
        type="number"
        id="iptOverlap"
        min="0"
        max="1"
        step="0.01"
        value="0.5"
      />
      <label for="sldOverlap">0</label>
      <input
        type="range"
        min="0"
        max="1"
        step="0.001"
        value="0.5"
        id="sldOverlap"
      />
      <label for="sldOverlap">1</label>
    </div>

    

    <script src="../static/js/serve.js"></script>
  </body>
</html>
