<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dislocation Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/serve.css" />
  </head>
  <body>
    <h1>Dislocation Detection</h1>

    <div id="image-container">
      <img src="" id="photo" />
    </div>
    <div class="process-button-container">
      <input type="file" id="iptUploadPhoto" accept="image/*" display="none" />
      <button class="process-button" id="btnUploadPhoto">Upload a photo</button>
      <!-- <button class="process-button" id="btnPredict">Predict</button>
      </button> -->
      <button class="process-button" id="btnPredict">Predict (Roboflow)</button>
    </div>

    <div class="inputSlider">
      <label for="iptConfidence">Confidence</label>
      <input
        type="number"
        id="iptConfidence"
        min="0"
        max="1"
        step="0.01"
        value="0.268"
      />
      <label for="sldConfidence">0</label>
      <input
        type="range"
        min="0"
        max="1"
        step="0.001"
        value="0.268"
        id="sldConfidence"
      />
      <label for="sldConfidence">1</label>
    </div>

    <div class="inputSlider">
      <label for="iptOverlap">Overlap</label>
      <input
        type="number"
        id="iptOverlap"
        min="0"
        max="1"
        step="0.01"
        value="0.5"
      />
      <label for="sldOverlap">0</label>
      <input
        type="range"
        min="0"
        max="1"
        step="0.001"
        value="0.5"
        id="sldOverlap"
      />
      <label for="sldOverlap">1</label>
    </div>

    <label for="txtSumBhi">Sum of all relative bounding box heights</label>
    <input type="text" id="txtSumBhi" value="5.0" diasbled />

    <script src="../static/js/serve.js"></script>
  </body>
</html>
