<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dislocation Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/serve.css" />
  </head>
  <body>
    <h1>Dislocation Detection</h1>

    <div id="image-container">
      <img src="" id="photo" />
      
    </div>
    <div class="process-button-container">
      <!-- <div class="fileSelection">
        <label for="iptUploadPhoto">
          <span>Select a .jpg file</span>
          <input
            type="file"
            id="iptUploadPhoto"
            accept="image/*"
            style="display: none"
          />
        </label>
        <input type="text" id="txtUploadPhoto" readonly />
      </div> -->
      <p>Currently, the model is trained only with weak beam dark fied TEM images</p>
      <input type="file" id="iptUploadPhoto" accept="image/*" display="none" />
      <div>
        <button class="process-button" id="btnUploadPhoto">
          Upload the chosen photo
        </button>
        <input type="checkbox" id="chbUploadPhotoForTraining">
        <label for="chbUploadPhotoForTraining">Allow to use the uploaded photo to improve model training </label>
      </div>
      <!-- <button class="process-button" id="btnPredict">Predict (roboflow)</button> -->
      <button class="process-button" id="btnPredict">Predict (ultralytics)</button>
    </div>
    
    <div class="calculations">
      <label for="optSumBhi">Calculated sum of all relative bounding box heights &#8721<i>b</i><sub>hi</sub>:</label>
      <input type="number" id="optSumBhi" value="3.46" diasbled />
      <label for="optDisloDensity">Calculated dislocation density &#961 = &#8721<i>b</i><sub>hi</sub> * <i>H</i><sub>image</sub>/(<i>A</i><sub>f</sub>*<i>t</i>) (cm<sup>-2</sup>): </label>
      
      <input type="number" id="optDisloDensity" value="3.3e+10" diasbled />
      <div>
        <div>
          <label for="iptFilmArea">Insert the film area <i>A</i><sub>f</sub> (nm<sup>2</sup>):<sup><img src="../static/images/InfoIcon.png" class="info-icon" alt="Information"></sup> </label>
          
          <div class="explanation" style="display: none;">
            <img src="../static/images/ParamExplainAf.jpg">
          </div>
        </div>
      </div>
      <input type="number" id="iptFilmArea" value="8.6e4"/>
      
      <div>
        <div>
          <label for="iptTEMSpecimenThickness">Insert the thickness of the TEM specimen <i>t</i> (nm):<sup><img src="../static/images/InfoIcon.png" class="info-icon" alt="Information"></sup> </label>
          
          <div class="explanation" style="display: none;">
            <img src="../static/images/ParamExplain_t.jpg">
          </div>
        </div>
      </div>
      <input type="number" id="iptTEMSpecimenThickness" value="100" diasbled />
    
      <div>
        <div>
          <label for="iptImageHeight">Insert the height of the whole image <i>H</i><sub>image</sub> (nm):<sup><img src="../static/images/InfoIcon.png" class="info-icon" alt="Information"></sup> </label>
          <div class="explanation" style="display: none;">
            <img src="../static/images/ParamExplainHimage.jpg">
          </div>
        </div>
      </div>
      <input type="number" id="iptImageHeight" value="825" diasbled />
  </div>
    <div class="inputSlider">
      <label for="iptConfidence" style="justify-self: left;">Confidence</label>
      <input
        type="number"
        id="iptConfidence"
        min="0"
        max="1"
        step="0.01"
        value="0.268"
      />
      <label for="sldConfidence" >0</label>
      <input
        type="range"
        min="0"
        max="1"
        step="0.001"
        value="0.268"
        id="sldConfidence"
      />
      <label for="sldConfidence">1</label>
    </div>

    <div class="inputSlider">
      <label for="iptOverlap" style="justify-self: left;">Overlap</label>
      <input
        type="number"
        id="iptOverlap"
        min="0"
        max="1"
        step="0.01"
        value="0.7"
      />
      <label for="sldOverlap">0</label>
      <input
        type="range"
        min="0"
        max="1"
        step="0.001"
        value="0.7"
        id="sldOverlap"
      />
      <label for="sldOverlap">1</label>
    </div>
    <footer>
      <p class="copyright">&copy; 2024 Giang T. Dang. All rights reserved. </p>
    </footer>
    

    <script src="../static/js/serve.js"></script>
  </body>
</html>
