<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .image-container {
        position: relative;
        display: inline-block;
      }

      .bounding-box {
        position: absolute;
        border: 2px solid red;
        /* Set the box dimensions, position, and size */
        top: 50px;
        left: 100px;
        width: 200px;
        height: 150px;
      }
    </style>
  </head>
  <body>
    <div class="image-container">
      <img src="../zidane.jpg" alt="Your Image" />
      <div class="bounding-box"></div>
    </div>
  </body>
</html>
